@import "../../styles/mixins";
@import "../../styles/functions";

.socialBar {
  position: absolute;
  top: 6.5%;
  right: 4rem;
  z-index: 2;
  visibility: hidden;
  transform: rotate(-90deg);
  transform-origin: 100% 0;
  padding: 1.5rem 2.5rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: getMainColor("dark-gray");
  @include set-transition(0.2s);

  @include media-xl {
    visibility: visible;
  }

  & > ul {
    gap: 1rem;
    list-style-type: none;
    @include flex-center(row)
  }

  &__github {
    width: 1.2rem;
    height: 1.2rem;
    color: getTextColor("primary");
    cursor: pointer;

    &:not(:hover) {
      @include scale-rotate(0.8s, 1, 0deg);
    }

    &:hover {
      @include scale-rotate(0.8s, 1.5, 90deg);
    }
  }

  &__linkedin {
    @extend .socialBar__github;
  }

  &__discord {
    position: relative;
    @extend .socialBar__github;
  }

  &__divider {
    width: 7rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

  }

  &__writing {
    font-weight: getFontWeight("sbold");
    font-size: getFontSize("lg");
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: getTextColor("primary");
  }
}

.socialBar-li-discord {
  position: relative;

  &__clipboard {
    position: absolute;
    background-color: #4ece74;
    color: #FFFFFF;
    transform: rotate(90deg);
    border-radius: 0.25rem;
    font-size: getFontSize("sm");
    top: -1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    opacity: 0;
    @include set-transition(0.3s);

    &.active {
      opacity: 100;
    }
  }
}

.tri-right.btm-left-in:before{
  content: ' ';
  position: absolute;
  left: 63%;
  bottom: -4px;
  border: 0.3rem solid;
  border-color: #4ece74 transparent transparent #4ece74;
}

.tri-right.btm-left-in:after{
  content: ' ';
  position: absolute;
  right: 37%;
  transform: rotate(90deg);
  bottom: -4px;
  border: 0.3rem solid;
  border-color: #4ece74 transparent transparent #4ece74;
}
