@import './variables';
@import "./functions";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

p {
  line-height: 1.875rem;
}

a {
  color: getTextColor("primary");
  text-decoration: none;
}

section {
  & > h1 {
    color: getTextColor("primary");
    font-weight: getFontWeight("nm");
    font-size: getFontSize("2xl");
  }

  & > h2 {
    color: getTextColor("secondary");
    font-weight: getFontWeight("nm");
    font-size: getFontSize("sm");
  }
}