/**
  Contains all variables in order to use in other scss files
 */

// Responsive Window Sizes
$screen-sizes: (
        "sm": 640px,
        "md": 768px,
        "lg": 1024px,
        "xl": 1280px,
        "2xl": 1536px
);

// Font Weights
$font-weights: (
        "thin": 100,
        "light": 300,
        "normal": 400,
        "medium": 500,
        "sbold": 600,
        "bold": 700
);

// Font Size
$font-sizes: (
        "2xs": xx-small,
        "xs": x-small,
        "sm": small,
        "md": medium,
        "lg": large,
        "xl": x-large,
        "2xl": xx-large,
        "3xl": xxx-large
);

// Theme Colors
$main-colors: (
        "primary": #2A2A2A,
        "secondary": #202020,
        "thirdy": #222222,
        "dark-gray": #191919,
        "gray": #333333,
        "light-gray": #4A4A4A,
        "xlight-gray": #C6C6C6,
        "xxlight-gray": #F5F5F5,
        "black": #000000
);

$text-colors: (
        "primary": #FFFFFF,
        "secondary": #afafaf,
        "paragraph": #cccccc,
        "red": #963232,
        "gray": #5A5A5A,
        "light-gray": #757575,
        "dark-gray": #212529
);
