@import '../../../../styles/functions';
@import '../../../../styles/mixins';

.skillsSliderMain {
  padding: 1rem;
  border-radius: 0.25rem;
  margin-top: 2rem;
  @include shadow-xl;

  &.dark {
	background-color: getMainColor('thirdy', dark);
  }

  &.light {
	background-color: getMainColor('thirdy', light);
  }
}

.skill-icon {
  position: relative;
  width: 4rem;
  height: 4rem;
  z-index: 3;

  &.dark {
	color: getTextColor('secondary', dark);
  }

  &.light {
	color: getTextColor('gray', light);
  }
}

.icon-swiper {
  @include flex-center(row);
}
