@import "../../styles/functions";
@import "../../styles/mixins";

.goHomeButtonMain {
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  padding: 0.5rem;
  border: 2px solid getMainColor("light-gray");
  background-color: getMainColor('light-gray');
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  @include set-transition(0.15s);
  @include flex-center(column);
  outline: none;
  z-index: 3;

  &.active {
    opacity: 100;
    visibility: visible;
  }

  &:hover {
    background-color: getMainColor("gray");
  }

  &__arrow {
    color: getTextColor("primary");
    width: 1.5rem;
    height: 1.5rem;
  }
}