@import "../../styles/functions";
@import "../../styles/mixins";

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 200px;
  z-index: 2;
  background-color: getMainColor("dark-gray");
  color: getTextColor("primary");
  border-right: 0.1rem solid rgba(74, 74, 74, 0.8);
  transform: translateX(-20rem);
  @include flex-center(row);
  @include set-transition(0.5s);

  &.mobile {
    transform: translateX(0);
    width: 100%;
    opacity: 0.99;
  }

  @include media-md {
    transform: translateX(0);
  }

  &__btn {
    position: fixed;
    visibility: visible;
    z-index: 3;
    width: 2rem;
    height: 2rem;
    right: 0.35rem;
    top: 0.35rem;
    cursor: pointer;
    color: getTextColor("secondary");

    @include media-md {
      visibility: hidden;
    }
  }

  &__nav {
    padding: 4rem 2rem;
    width: 100%;
    height: 100%;

    @include media-md {
      padding-left: 3rem;
      @include flex-center(column);
    }

    & > ul {
      width: 100%;
      list-style-type: none;
      padding: 0;
      margin-right: 40px;

      & > li {
        font-weight: getFontWeight("sbold");
        width: 100%;
        cursor: pointer;
        margin-bottom: 2rem;

        & > span.active {
          width: 100%;
          font-weight: getFontWeight("bold");
          font-size: getFontSize("2xl");
          @include slide-right(0.5s, 1rem);

          @include media-md {
            font-size: getFontSize("lg");
          }
        }

        & > :not(span.active) {
          width: 100%;
          font-weight: getFontWeight("sbold");
          font-size: getFontSize("xl");
          color: getTextColor("secondary");
          @include slide-right(0.5s, 0);

          @include media-md {
            font-size: getFontSize("lg");
          }
        }
      }
    }
  }
}