@import "../../styles/mixins";

.cookieAlertMain {
  position: fixed;
  width: 90%;
  z-index: 6;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;
  column-gap: 2rem;
  font-size: getFontSize("sm");
  @include shadow-lg;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.show {
    animation: move-up 0.5s linear;

    @keyframes move-up {
      0% {
        opacity: 0;
        transform: translateY(8rem) translateX(-50%);
      }
      100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
      }
    }
  }

  @include media-sm {
    width: 70%;
  }

  @include media-md {
    width: 50%;
  }

  @include media-xl {
    width: 30%;
  }

  & > p {
    line-height: 1.5rem;
    max-width: 50%;
  }

  &.dark {
    background-color: getMainColor("light-gray", dark);
    color: getTextColor("secondary", primary);
  }

  &.light {
    background-color: getMainColor("dark-brown", light);
    color: getTextColor("secondary", light);
  }
}

.cookie-btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include media-sm {
    flex-direction: row;
  }
}

.cookie-btn {
  @include standard-btn;
}