@import "../../styles/functions";
@import "../../styles/mixins";

.main {
  background-color: getMainColor("primary");

  @include media-md {
    position: absolute;
    left: 200px;
  }

  section {
    & > h2 {
      margin-top: 0.75rem;
    }
  }
}

.aboutMeSection {
  min-height: 100vh;
  padding: 7rem 5% 2rem 5%;
  background-color: getMainColor("secondary");
  @include flex-center(row);

  @include media-md {
    padding: 2rem 5%;
  }

  @include media-xl {
    padding-right: 20%;
  }
}

.skillsSection {
  min-height: 100vh;
  padding: 3rem 5%;
  background-color: getMainColor("primary");

  > h1, h2 {
    text-align: center;
  }
}

.projectsSection {
  @extend .skillsSection;
  background-color: getMainColor("secondary");
}

.contactMeSection {
  @extend .skillsSection;
  background-color: getMainColor("primary");
}