@import "../../styles/functions";
@import "../../styles/mixins";

.main {
  padding: 10% 5% 10%;
  background-color: getMainColor("primary");

  @include media-md {
    position: absolute;
    left: 200px;
    width: calc(100vw - 200px);
  }
}